@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="main">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-lg-7 pt-5 text-center">
                <h1 class="pt-3">Welcome to Restro</h1>
                <a class="btn btn-primary mt-3" asp-page="/Menu">Order here</a>
            </div>
        </div>
    </div>
</section>
