@page
@model Restro.Pages.Admin.Categories.DeleteModel
@{
}

<div class="container">
	<div class="row">
		<div class="alert alert-dialog">
			<h3>Are you sure to delete @Model.category.CategoryName ?</h3>
		</div>
	</div>

	<div class="row">
		<form method="post">
			<button type="submit" class="btn btn-danger">Yes</button>
			<a asp-page="/Admin/Categories/List" class="btn btn-info">No</a>
		</form>
	</div>
</div>